@model ARVTech.DataAccess.DTOs.UniPayCheck.UsuarioResponseDto

@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var aniversariantes = ViewData["Aniversariantes"] as IEnumerable<dynamic>;
    var aniversariantesEmpresa = ViewData["AniversariantesEmpresa"] as IEnumerable<dynamic>;
    var sobreNos = ViewData["SobreNos"] as IEnumerable<dynamic>;
}

@* https://www.c-sharpcorner.com/UploadFile/ff2f08/multiple-models-in-single-view-in-mvc/ *@

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Modal -->
    @*     <div class="modal fade" id="sobreNosModal" tabindex="-1" aria-hidden="true" aria-labelledby="lblSobreNos">
    </div> *@

    @* https://www.macoratti.net/18/06/mvc5_vmodal2.htm *@

    @*     <div class="modal fade" id="sobreNosModal" tabindex="-1" aria-labelledby="lblSobreNos" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="lblSobreNos">Título</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <img src="news_image.jpg" class="img-fluid mb-3" alt="News Image">
    <p>Detailed description of the news article goes here.</p>
    <p>Additional information, quotes, etc.</p>
    </div>
    <div class="modal-footer">
    <button class="btn btn-danger" type="button" data-dismiss="modal">Fechar</button>
    </div>
    </div>
    </div>
    </div> *@

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">

                <div class="card-header py-3 border-success">
                    <h6 class="m-0 font-weight-bold text-success">
                        <i class="fas fa-fw fa-chart-line"></i>
                        <span> EVOLUÇÃO SALARIAL</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Últimos 6 meses</small>
                    </span>
                </div>

                <!-- Card Header - Dropdown -->
                @* <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">
                        <i class="fas fa-fw fa-chart-line"></i>
                        <span> EVOLUÇÃO SALARIAL</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Últimos 6 meses</small>
                    </span>


                    @*                     <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>*@

                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">COMPOSIÇÃO SALARIAL</h6>
                    @* <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> *@
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <!-- Content Column -->
        <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-primary shadow">
                <div class="card-header py-3 border-primary">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase mb-1">
                        <i class="fas fa-fw fa-birthday-cake"></i>
                        <span> Aniversariantes</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Nascidos (as) em @DateTime.Now.ToString("dd/MM")</small>
                    </span>
                </div>

                @if (aniversariantes != null && aniversariantes.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var aniversariante in aniversariantes)
                        {
                            <h6 class="bg-transparent border-primary small font-weight-bold text-gray-800">
                                @aniversariante.Nome <span class="float-right">@aniversariante.DataNascimentoString</span>
                            </h6>
                        }
                    </div>
                }
                else
                {
                    <div class="card-footer bg-transparent border-primary font-weight-bold text-gray-800">@string.Concat("Não foram encontrados registros de Aniversariantes para o período.")</div>
                }
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-danger shadow">
                <div class="card-header py-3 border-danger">
                    <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">
                        <i class="fas fa-fw fa-building"></i>
                        <span> Aniversariantes de Empresa</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Admitidos(as) no mês @DateTime.Now.Month.ToString("00")</small>
                    </span>
                </div>

                @if (aniversariantesEmpresa != null && aniversariantesEmpresa.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var aniversarianteEmpresa in aniversariantesEmpresa)
                        {
                            <h6 class="bg-transparent border-danger small font-weight-bold text-gray-800">
                                @aniversarianteEmpresa.Nome <span class="float-right text-danger"><small class="text-muted">* Admitido em @Convert.ToDateTime(aniversarianteEmpresa.DataAdmissao).ToString("dd/MM/yyyy")</small></span>
                            </h6>
                        }
                    </div>
                }
                else
                {
                    <div class="card-footer bg-transparent border-danger font-weight-bold text-gray-800">@string.Concat("Não foram encontrados Aniversariantes de Empresa para o mês ", DateTime.Now.Month.ToString("00"), ".")</div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });

        // $('.imgSobreNos').click(function () {
        //     var id = $(this).attr('data-id');

        //     $("#sobreNosModal").load("SobreNos?id=" + id, function () {
        //         $("#sobreNosModal").modal();
        //     })
        // });
    </script>
}