@model ARVTech.DataAccess.DTOs.UniPayCheck.UsuarioResponseDto

@{
    ViewData["Title"] = "Home Page";
}

@{
    var aniversariantes = ViewData["Aniversariantes"] as IEnumerable<dynamic>;
    var aniversariantesEmpresa = ViewData["AniversariantesEmpresa"] as IEnumerable<dynamic>;
    var sobreNos = ViewData["SobreNos"] as IEnumerable<dynamic>;
}

@* https://www.c-sharpcorner.com/UploadFile/ff2f08/multiple-models-in-single-view-in-mvc/ *@

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <!-- px-3 py-5 bg-gradient-warning text-white-->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-12">
            <div class="card shadow mb-4 border-left-warning shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-warning text-uppercase mb-1"><i class="fas fa-fw fa-comment"></i><span>Sobre Nós</span></h6>
                </div>

                <div class="card-body">
                    <div id="carouselSobreNos" class="carousel slide carousel-dark mx-auto" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            @if (sobreNos != null && sobreNos.Count() > 0)
                            {
                                int dataSlideTo = 0;

                                <!-- Indicators -->
                                <ul class="carousel-indicators my-4">

                                    @foreach (var item in sobreNos)
                                    {
                                        if (dataSlideTo == 0)
                                        {
                                            <li data-target="#carouselSobreNos" data-slide-to=" + @dataSlideTo + " class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carouselSobreNos" data-slide-to=" + @dataSlideTo + "></li>
                                        }

                                        dataSlideTo++;
                                    }

@*                                     <li data-target="#carouselSobreNos" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselSobreNos" data-slide-to="1"></li>
                                    <li data-target="#carouselSobreNos" data-slide-to="2"></li> *@
                                </ul>

                                var divClass = "carousel-item active";

                                foreach (var item in sobreNos)
                                {
                                    <div class="' + @divClass + '">
                                        <img class="d-block w-100" style="height: 475px; max-height: 475px;" src="@Url.Action("RenderImage", "Home", new { @id = item.Id } )" />

                                        <div class="carousel-caption d-none d-md-block bg-gradient-secondary text-white mb-4">
                                            <h2 class="font-weight-bold text-white text-uppercase mb-10" style="text-align:center"><span>@item.Titulo</span></h2>

                                            @* <p class="font-weight-bold text-white mb-10" style="text-align:justify">@item.Resumo</p> *@
                                            <p class="font-weight-bold text-white mb-10">@item.Resumo</p>
                                        </div>
                                    </div>

                                    divClass = "carousel-item";
                                }

                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#carouselSobreNos" data-slide="prev">
                                    <span class="carousel-control-prev-icon text-black"></span>
                                </a>

                                <a class="carousel-control-next" href="#carouselSobreNos" data-slide="next">
                                    <span class="carousel-control-next-icon text-black"></span>
                                </a>
                            }
                            else
                            {
                                <div class="carousel-item active">
                                    <img class="d-block w-100" style="height: 475px; max-height: 475px;" src="~/Theme/startbootstrap-sb-admin-2-gh-pages/img/ImageNotAvailable.png" alt="">

                                    <div class="carousel-caption d-none d-md-block bg-transparent text-white" style="margin-bottom: 17%; margin-top: 17%">
                                        <h3 class="font-weight-bold text-white text-uppercase mb-10"><span>Não há publicações a serem exibidas.</span></h3>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Content Column -->
        <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-primary shadow">
                <div class="card-header py-3 border-primary">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase mb-1">
                        <i class="fas fa-fw fa-birthday-cake"></i>
                        <span> Aniversariantes</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Nascidos (as) em @DateTime.Now.ToString("dd/MM")</small>
                    </span>
                </div>

                @if (aniversariantes != null && aniversariantes.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var aniversariante in aniversariantes)
                        {
                            <h6 class="bg-transparent border-primary small font-weight-bold text-gray-800">
                                @aniversariante.Nome <span class="float-right">@aniversariante.DataNascimentoString</span>
                            </h6>
                        }
                    </div>
                }
                else
                {
                    <div class="card-footer bg-transparent border-primary font-weight-bold text-gray-800">@string.Concat("Não foram encontrados registros de Aniversariantes para o período.")</div>
                }
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-danger shadow">
                <div class="card-header py-3 border-danger">
                    <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">
                        <i class="fas fa-fw fa-building"></i>
                        <span> Aniversariantes de Empresa</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Admitidos(as) no mês @DateTime.Now.Month.ToString("00")</small>
                    </span>
                </div>

                @if (aniversariantesEmpresa != null && aniversariantesEmpresa.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var aniversarianteEmpresa in aniversariantesEmpresa)
                        {
                            <h6 class="bg-transparent border-danger small font-weight-bold text-gray-800">
                                @aniversarianteEmpresa.Nome <span class="float-right text-danger"><small class="text-muted">* Admitido em @Convert.ToDateTime(aniversarianteEmpresa.DataAdmissao).ToString("dd/MM/yyyy")</small></span>
                            </h6>
                        }
                    </div>
                }
                else
                {
                    <div class="card-footer bg-transparent border-danger font-weight-bold text-uppercase text-gray-800">@string.Concat("Não foram encontrados Aniversariantes de Empresa para o mês ", DateTime.Now.Month.ToString("00"), ".")</div>
                }
            </div>
        </div>
    </div>
</div>