@model ARVTech.DataAccess.DTOs.UniPayCheck.UsuarioResponseDto

@{
    ViewData["Title"] = "Home Page";
}

@{
    var aniversariantes = ViewData["Aniversariantes"] as IEnumerable<dynamic>;
    var aniversariantesEmpresa = ViewData["AniversariantesEmpresa"] as IEnumerable<dynamic>;
    var sobreNos = ViewData["SobreNos"] as IEnumerable<dynamic>;
}

@* https://www.c-sharpcorner.com/UploadFile/ff2f08/multiple-models-in-single-view-in-mvc/ *@

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <!-- px-3 py-5 bg-gradient-warning text-white-->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-12">
            <div class="card shadow mb-4 border-left-warning shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-warning text-uppercase mb-1"><i class="fas fa-fw fa-comment"></i><span>Sobre Nós</span></h6>
                </div>

                @if (sobreNos != null && sobreNos.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var item in sobreNos)
                        {
                            <div class="px-3 py-5 bg-gradient-warning text-white">
                                <h6 class="bg-transparent border-warning small font-weight-bold">
                                    @string.Concat(
                                        item.Titulo,
                                        "/",
                                        item.Resumo)
                                </h6>
                            </div>

                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Content Column -->
        <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-primary shadow">
                <div class="card-header py-3 border-primary">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase mb-1">
                        <i class="fas fa-fw fa-birthday-cake"></i>
                        <span> Aniversariantes</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Nascidos (as) em @DateTime.Now.ToString("dd/MM")</small>
                    </span>
                </div>

                @if (aniversariantes != null && aniversariantes.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var aniversariante in aniversariantes)
                        {
                            <h6 class="bg-transparent border-primary small font-weight-bold text-gray-800">
                                @aniversariante.Nome <span class="float-right">@aniversariante.DataNascimentoString</span>
                            </h6>
                        }
                    </div>
                }
                else
                {
                    <div class="card-footer bg-transparent border-primary font-weight-bold text-gray-800">@string.Concat("Não foram encontrados registros de Aniversariantes para o período.")</div>
                }
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-danger shadow">
                <div class="card-header py-3 border-danger">
                    <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">
                        <i class="fas fa-fw fa-building"></i>
                        <span> Aniversariantes de Empresa</span>
                    </h6>
                    <span>
                        <small class="text-muted">* Admitidos(as) no mês @DateTime.Now.Month.ToString("00")</small>
                    </span>
                </div>

                @if (aniversariantesEmpresa != null && aniversariantesEmpresa.Count() > 0)
                {
                    <div class="card-body">
                        @foreach (var aniversarianteEmpresa in aniversariantesEmpresa)
                        {
                            <h6 class="bg-transparent border-danger small font-weight-bold text-gray-800">
                                @aniversarianteEmpresa.Nome <span class="float-right text-danger"><small class="text-muted">* Admitido em @Convert.ToDateTime(aniversarianteEmpresa.DataAdmissao).ToString("dd/MM/yyyy")</small></span>
                            </h6>
                        }
                    </div>
                }
                else
                {
                    <div class="card-footer bg-transparent border-danger font-weight-bold text-uppercase text-gray-800">@string.Concat("Não foram encontrados Aniversariantes de Empresa para o mês ", DateTime.Now.Month.ToString("00"), ".")</div>
                }
            </div>

            <!-- Illustrations -->
            @* <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-building"></i><span>Aniversariantes de Empresa</span></h6>
            </div>
            <div class="card-body">
            <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
            src="img/undraw_posting_photo.svg" alt="...">
            </div>
            <p>
            Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
            constantly updated collection of beautiful svg images that you can use
            completely free and without attribution!
            </p>
            <a target="_blank" rel="nofollow" href="https://undraw.co/">
            Browse Illustrations on
            unDraw &rarr;
            </a>
            </div>
            </div> *@
        </div>
    </div>
</div>