@model ARVTech.DataAccess.DTOs.UniPayCheck.MatriculaEspelhoPontoResponseDto

@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var datas = Model.MatriculaEspelhoPontoMarcacoes.OrderBy(
        m => m.Data).GroupBy(
            m => m.Data);
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Logout Modal-->
    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação da realização da frequência</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Você deseja realmente confirmar a realização da frequência?</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-success" asp-controller="EspelhoPonto" asp-action="ConfirmarRealizacaoFrequencia" asp-route-guid=@Model.Guid>Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modeloClassicoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelModeloClassico"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table" id="tblPrincipal" style="border-width:2px; border-style:solid;">
                        <thead>
                            <tr>
                                <th class="col-12 text-justify" style="border:0px">AQUI VAI O LOGOTIPO</th>
                            </tr>
                            <tr>
                                <th class="col-12 text-justify" style="border:0px">AQUI VAI O LOGOTIPO</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col-12 text-justify" style="border:0px">
                                    <table class="table table-bordered" cellpadding="0" cellspacing="0" style="margin-top:-1.20rem">
                                        <tbody>
                                            <tr>
                                                <td class="col-2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Matrícula</small><br />@Model.Matricula.Matricula
                                                </td>
                                                <td class="col-8" colspan="2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Nome</small><br />@Model.Matricula.Colaborador.Nome
                                                </td>
                                                <td class="col-2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Competência</small><br />@Model.CompetenciaFormatada
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-6" colspan="2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Horário</small><br /><small>Carga Horária Mensal:</small> @Model.Matricula.CargaHoraria
                                                </td>
                                                <td class="col-6" colspan="2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Local</small><br />@Model.Matricula.DescricaoSetor
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-bordered table-striped" style="line-height: 0.80rem; margin-bottom:-0.05rem; margin-top:-0.40rem">
                                        <thead>
                                            <tr>
                                                <th class="col-1 text-center"><small>Data</small></th>
                                                <th class="col-1 text-center"><small>Semana</small></th>
                                                <th class="col-3 text-justify"><small>Marcações</small></th>
                                                <th class="col-1 text-center"><small>Trab.</small></th>
                                                <th class="col-1 text-center"><small>Flts.</small></th>
                                                <th class="col-1 text-center"><small>H050%</small></th>
                                                <th class="col-1 text-center"><small>H070%</small></th>
                                                <th class="col-1 text-center"><small>H100%</small></th>
                                                <th class="col-1 text-center"><small>CrBH.</small></th>
                                                <th class="col-1 text-center"><small>DbBH.</small></th>
                                            </tr>
                                        </thead>

                                        @if (Model.MatriculaEspelhoPontoMarcacoes != null &&
                                        Model.MatriculaEspelhoPontoMarcacoes.Count() > 0)
                                        {
                                            <tbody>
                                                @foreach (var data in datas)
                                                {
                                                    var item = Model.MatriculaEspelhoPontoMarcacoes.Where(
                                                    d => d.Data == data.Key).FirstOrDefault();

                                                    if (item != null)
                                                    {
                                                        <tr>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.Data.ToString("ddMMyyyy").Substring(0,2)</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.DiaSemana.Substring(0,3)</small>
                                                            </td>
                                                            <td class="text-justify" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.Marcacao</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasTrabalhadasString</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasFaltasString</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasExtras050String</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasExtras070String</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasExtras100String</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasCreditoBHString</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasDebitoBHString</small>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                            <tfoot>
                                            </tfoot>
                                        }
                                    </table>

                                    <div class="row">
                                        <div class="col-xl-4 col-md-4 col-xs-12">
                                            <table class="table table-bordered" style="line-height: 0.40rem; margin-bottom:-0.05rem;">
                                                <tbody>
                                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                                        Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                                    {
                                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                                            c.Calculo.Id < 6).OrderBy(
                                                                c => c.Calculo.Id).GroupBy(
                                                                    m => m.Calculo.Id);

                                                        @foreach (var calculo in calculos)
                                                        {
                                                            <tr>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Calculo.Descricao</small>
                                                                </td>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Valor.ToString("#,###,###,##0.00")</small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-xl-4 col-md-4 col-xs-12">
                                            <table class="table table-bordered" style="line-height: 0.40rem; margin-bottom:-0.05rem;">
                                                <tbody>
                                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                                        Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                                    {
                                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                                            c.Calculo.Id >= 6 && c.Calculo.Id < 11).OrderBy(
                                                                c => c.Calculo.Id).GroupBy(
                                                                    m => m.Calculo.Id);

                                                        @foreach (var calculo in calculos)
                                                        {
                                                            <tr>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Calculo.Descricao</small>
                                                                </td>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Valor.ToString("#,###,###,##0.00")</small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-xl-4 col-md-4 col-xs-12">
                                            <table class="table table-bordered" style="line-height: 0.40rem; margin-bottom:-0.05rem;">
                                                <tbody>
                                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                                        Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                                    {
                                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                                            c.Calculo.Id >= 11).OrderBy(
                                                                c => c.Calculo.Id).GroupBy(
                                                                    m => m.Calculo.Id);

                                                        @foreach (var calculo in calculos)
                                                        {
                                                            <tr>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Calculo.Descricao</small>
                                                                </td>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Valor.ToString("#,###,###,##0.00")</small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    @*<a class="btn btn-success" asp-controller="EspelhoPonto" asp-action="ConfirmarRealizacaoFrequencia" asp-route-guid=@Model.Guid>Confirmar</a>*@
                    <a class="btn btn-primary">
                        <i class="fas fa-print fa-sm text-white-50"></i> Imprimir
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading aria-hidden="true" -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Espelho de Ponto</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#modeloClassicoModal">
            <i class="fas fa-print fa-sm text-white-50"></i> Modelo Clássico
        </a>
        @*        <a class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#confirmacaoModal">
        *<i class="fa fa-camera-retro fa-sm fa-fw mr-2 text-gray-400"></i>https://fontawesome.com/v4/icon/calendar-check-o *@
        <!-- <i class="fa fa-calendar-check mr-2" aria-hidden="true"></i>*-->
    </div>

    <div class="row">
        <div class="col-xl-9 col-md-9 mb-9">
            <label for="txtRazaoSocial">Razão Social</label>
            <input asp-for=Matricula.Empregador.RazaoSocial type="text" readonly class="form-control" id="txtRazaoSocial">
        </div>

        <div class="col-xl-3 col-md-3 mb-3">
            <label for="txtCnpj">CNPJ</label>
            <input asp-for=Matricula.Empregador.CnpjFormatado type="text" readonly class="form-control" id="txtCnpj">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-4 mb-4">
            <label for="txtMatricula">Matrícula</label>
            <input asp-for=Matricula.Matricula type="text" readonly class="form-control" id="txtMatricula">
        </div>

        <div class="col-xl-7 col-md-6 mb-4">
            <label for="txtNome">Nome</label>
            <input asp-for=Matricula.Colaborador.Nome type="text" readonly class="form-control" id="txtNome">
        </div>
        <div class="col-xl-2 col-md-2 mb-4">
            <label for="txtCompetencia">Competência</label>
            <input asp-for=CompetenciaFormatada type="text" readonly class="form-control" id="txtCompetencia">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12 mb-12">
            <label for="txtDescricaoSetor">Setor</label>
            <input asp-for=Matricula.DescricaoSetor type="text" readonly class="form-control" id="txtDescricaoSetor">
        </div>
    </div>

    <div class="row mb-3">
    </div>

    <div class="row">
        @if (Model.MatriculaEspelhoPontoMarcacoes != null &&
            Model.MatriculaEspelhoPontoMarcacoes.Count() > 0)
        {
            int contador = 1;

            string classColor = string.Empty;

            @foreach (var data in datas)
            {
                var item = Model.MatriculaEspelhoPontoMarcacoes.Where(
                    d => d.Data == data.Key).FirstOrDefault();

                if (item != null)
                {
                    if (contador % 3 == 1)
                        classColor = "success";
                    else if (contador % 3 == 2)
                        classColor = "secondary";
                    else
                    {
                        classColor = "primary";

                        contador = 0;
                    }

                    string id = string.Concat(
                        "collapseCard",
                        item.Data.ToString("yyyyMMdd"));

                    <div class="col-xl-4 col-md-4">
                        <div class="card shadow mb-3 border-left-@classColor shadow">
                            <!-- Card Header - Accordion -->
                            <a href="#@id" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="false" aria-controls="@id">
                                <h6 class="m-0 font-weight-bold text-@classColor text-uppercase mb-1">@item.Data.ToString("dd/MM/yyyy")</h6>

                                <small class="text-@classColor">* @item.DiaSemana</small>
                            </a>

                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="@id">
                                <div class="card-header bg-transparent border-@classColor font-weight-bold text-gray-800">
                                    @item.Marcacao
                                </div>

                                <div class="card-body">
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>Trabalhadas</strong>: @item.HorasTrabalhadasFormatada
                                        </small>
                                    </p>
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>Faltas</strong>: @item.HorasFaltasFormatada
                                        </small>
                                    </p>
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>50%</strong>: @item.HorasExtras050Formatada
                                        </small>
                                    </p>
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>70%</strong>: @item.HorasExtras070Formatada
                                        </small>
                                    </p>
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>100%</strong>: @item.HorasExtras100Formatada
                                        </small>
                                    </p>
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>Crédito BH</strong>: @item.HorasCreditoBHFormatada
                                        </small>
                                    </p>
                                    <p class="text-@classColor">
                                        <small>
                                            <strong>Débito BH</strong>: @item.HorasDebitoBHFormatada
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    contador++;
                }
            }
        }
        else
        {
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="alert alert-warning">
                    Não foram encontradas marcações de ponto para a Competência @Model.CompetenciaFormatada e Matrícula @Model.Matricula.
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-4 col-xs-12 mb-12">
            <div class="card border-success mb-3">
                <div class="card-body">
                    <div class="panel">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                        Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                    {
                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                            c.Calculo.Id < 6).OrderBy(
                                                c => c.Calculo.Id).GroupBy(
                                                    m => m.Calculo.Id);

                                        foreach (var calculo in calculos)
                                        {
                                            string classColor = "success";

                                            if (calculo.First().Valor < 0)
                                                classColor = "danger";

                                            <tr>
                                                <td><span class="badge badge-success rounded-pill d-inline">@calculo.First().Calculo.Descricao</span></td>
                                                <td><p class="text-right text-@classColor">@calculo.First().Valor.ToString("#,###,###,##0.00")</p></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-4 col-xs-12 mb-12">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <div class="panel">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                        Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                    {
                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(
                                            c => c.Calculo.Id >= 6 && c.Calculo.Id < 11).OrderBy(
                                                c => c.Calculo.Id).GroupBy(
                                                    m => m.Calculo.Id);

                                        foreach (var calculo in calculos)
                                        {
                                            string classColor = "secondary";

                                            if (calculo.First().Valor < 0)
                                                classColor = "danger";

                                            <tr>
                                                <td><span class="badge badge-secondary rounded-pill d-inline">@calculo.First().Calculo.Descricao</span></td>
                                                <td><p class="text-right text-@classColor">@calculo.First().Valor.ToString("#,###,###,##0.00")</p></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-4 col-xs-12 mb-12">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <div class="panel">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                        Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                    {
                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(
                                            c => c.Calculo.Id >= 11).OrderBy(
                                                c => c.Calculo.Id).GroupBy(
                                                    m => m.Calculo.Id);

                                        foreach (var calculo in calculos)
                                        {
                                            string classColor = "primary";

                                            if (calculo.First().Valor < 0)
                                                classColor = "danger";

                                            <tr>
                                                <td><span class="badge badge-primary rounded-pill d-inline">@calculo.First().Calculo.Descricao</span></td>
                                                <td><p class="text-right text-@classColor">@calculo.First().Valor.ToString("#,###,###,##0.00")</p></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12 mb-12">
            @if (Model.DataConfirmacao != null &&
                Model.DataConfirmacao.HasValue)
            {
                string textAlert = string.Concat(
                    "Espelho de Ponto aceito em ",
                    Model.DataConfirmacaoFormatada);

                if (!string.IsNullOrEmpty(@Model.IpConfirmacaoString))
                {
                    textAlert = string.Concat(
                        textAlert,
                        " através do IP ",
                        @Model.IpConfirmacaoString);
                }

                textAlert = string.Concat(
                    textAlert,
                    ".");

                <div class="alert alert-success text-center">
                    @textAlert
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center">
                    <a class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#confirmacaoModal">
                        @*<i class="fa fa-camera-retro fa-sm fa-fw mr-2 text-gray-400"></i>https://fontawesome.com/v4/icon/calendar-check-o *@
                        <i class="fa fa-calendar-check mr-2" aria-hidden="true"></i>
                        Confirmo a realização da frequência descrita acima e o recebimento do Demonstrativo de Pagamento Mensal.
                    </a>
                </div>
            }
        </div>
    </div>

    <div>
        <a class="btn btn-secondary btn-icon-split" asp-action="Index">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Voltar</span>
        </a>
    </div>
</div>