@model ARVTech.DataAccess.DTOs.UniPayCheck.MatriculaDemonstrativoPagamentoResponse

@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Demonstrativo de Pagamento</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-print fa-sm text-white-50"></i> Modelo Clássico
        </a>
    </div>

    <div class="row">
        <div class="col-xl-7 col-md-7 mb-4">
            <label for="txtRazaoSocial">Razão Social</label>
            <input asp-for=Matricula.Empregador.RazaoSocial type="text" readonly class="form-control" id="txtRazaoSocial">
        </div>

        <div class="col-xl-3 col-md-3 mb-4">
            <label for="txtCnpj">CNPJ</label>
            <input asp-for=Matricula.Empregador.CnpjFormatado type="text" readonly class="form-control" id="txtCnpj">
        </div>

        <div class="col-xl-2 col-md-2 mb-4">
            <label for="txtCompetencia">Competência</label>
            <input asp-for=CompetenciaFormatada type="text" readonly class="form-control" id="txtCompetencia">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-4 mb-4">
            <label for="txtMatricula">Matrícula</label>
            <input asp-for=Matricula.Matricula type="text" readonly class="form-control" id="txtMatricula">
        </div>

        <div class="col-xl-7 col-md-6 mb-4">
            <label for="txtNome">Nome</label>
            <input asp-for=Matricula.Colaborador.Nome type="text" readonly class="form-control" id="txtNome">
        </div>

        <div class="col-xl-2 col-md-2 mb-4">
            <label for="txtDataAdmissao">Data Admissão</label>
            <input asp-for=Matricula.DataAdmissao type="date" readonly class="form-control" id="txtDataAdmissao">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-md-2 mb-2">
            <label for="txtBanco">Banco</label>
            <input asp-for=Matricula.Banco type="text" readonly class="form-control" id="txtBanco">
        </div>
        <div class="col-xl-2 col-md-2 mb-2">
            <label for="txtAgencia">Agência</label>
            <input asp-for=Matricula.Agencia type="text" readonly class="form-control" id="txtAgencia">
        </div>
        <div class="col-xl-3 col-md-3 mb-3">
            <label for="txtConta">Conta</label>
            <input asp-for=Matricula.Conta type="text" readonly class="form-control" id="txtConta">
        </div>
        <div class="col-xl-3 col-md-3 mb-3">
            <label for="txtSalarioNominal">Salário Nominal</label>
            <input asp-for=Matricula.SalarioNominalFormatado type="text" readonly class="form-control" id="txtSalarioNominal">
        </div>
        <div class="col-xl-1 col-md-1 mb-1">
            <label for="txtFaixaIr">IR</label>
            <input asp-for=Matricula.FaixaIr type="text" readonly class="form-control" id="txtFaixaIr">
        </div>

        <div class="col-xl-1 col-md-1 mb-1">
            <label for="txtFaixaSf">SF</label>
            <input asp-for=Matricula.FaixaSf type="text" readonly class="form-control" id="txtFaixaSf">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12 mb-12">
            <label for="txtCargo">Cargo</label>
            <input asp-for=Matricula.DescricaoCargo type="text" readonly class="form-control" id="txtCargo">
        </div>
    </div>

    <div class="row mb-3">
    </div>

    <div class="row">
        <!-- Collapsable Card Example TOTAL DE VENCIMENTOS -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-primary shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardVencimentos" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardVencimentos">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase mb-1">Total de Vencimentos</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardVencimentos">
                    <div class="card-header bg-transparent border-primary font-weight-bold text-gray-800">R$ @Model.TotalVencimentos.ToString("#,###,###,##0.00")</div>

                    @if (Model.MatriculaDemonstrativoPagamentoEventos != null &&
                    Model.MatriculaDemonstrativoPagamentoEventos.Where(
                    e => e.Evento.Tipo == "V").Count() > 0)
                    {
                        @foreach (var mdpe in Model.MatriculaDemonstrativoPagamentoEventos.Where(
                       e => e.Evento.Tipo == "V").OrderBy(
                       mdpe => mdpe.IdEvento))
                        {
                            <div class="card-body">
                                <p class="text-primary">
                                    <strong>@mdpe.Evento.Descricao:</strong> R$ @mdpe.ValorFormatado
                                </p>

                                @if (mdpe.Referencia is not null)
                                {
                                    <p class="text-primary">
                                        <small class="text-muted">(Referência: @Convert.ToDecimal(mdpe.Referencia).ToString("#,###,###,##0.00"))</small>
                                    </p>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-footer bg-transparent border-primary font-weight-bold text-uppercase text-gray-800">Não foram encontrados Vencimentos para a Competência e Colaborador.</div>
                    }
                </div>
            </div>
        </div>

        <!-- Collapsable Card Example TOTAL DE DESCONTOS -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-danger shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardDescontos" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardDescontos">
                    <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">Total de Descontos</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardDescontos">
                    <div class="card-header bg-transparent border-danger font-weight-bold text-gray-800">R$ @Model.TotalDescontos.ToString("#,###,###,##0.00")</div>

                    @if (Model.MatriculaDemonstrativoPagamentoEventos != null &&
                    Model.MatriculaDemonstrativoPagamentoEventos.Where(
                    e => e.Evento.Tipo == "D").Count() > 0)
                    {
                        @foreach (var mdpe in Model.MatriculaDemonstrativoPagamentoEventos.Where(
                       e => e.Evento.Tipo == "D").OrderBy(
                       mdpe => mdpe.IdEvento))
                        {
                            <div class="card-body">
                                <p class="text-danger">
                                    <strong>@mdpe.Evento.Descricao:</strong> R$ @mdpe.ValorFormatado
                                </p>

                                @if (mdpe.Referencia is not null)
                                {
                                    <p class="text-danger">
                                        <small class="text-muted">(Referência: @Convert.ToDecimal(mdpe.Referencia).ToString("#,###,###,##0.00"))</small>
                                    </p>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-footer bg-transparent border-danger font-weight-bold text-uppercase text-gray-800">Não foram encontrados Descontos para a Competência e Colaborador.</div>
                    }
                </div>
            </div>
        </div>

        <!-- Collapsable Card Example OUTROS TOTAIS -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-warning shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardOutros" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardOutros">
                    <h6 class="m-0 font-weight-bold text-warning text-uppercase mb-1">Contribuições Sociais</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardOutros">
                    @if (Model.MatriculaDemonstrativoPagamentoTotalizadores != null &&
                    Model.MatriculaDemonstrativoPagamentoTotalizadores.Where(
                    t => t.IdTotalizador != 3 &&
                    t.IdTotalizador != 4 &&
                    t.IdTotalizador != 7).Count() > 0)  // Deve ignorar nesse Card o Total de Vencimentos (3), Total de Descontos (4) e Total Líquido (7) que são mostrados no Card de Totais Liquidos.
                    {
                        @foreach (var mdpt in Model.MatriculaDemonstrativoPagamentoTotalizadores.Where(
                       t => t.IdTotalizador != 3 &&
                       t.IdTotalizador != 4 &&
                       t.IdTotalizador != 7).OrderBy(
                       mdpt => mdpt.IdTotalizador))
                        {
                            <div class="card-body text-warning">
                                <strong>@mdpt.Totalizador.Descricao:</strong> R$ @mdpt.Valor.ToString("#,###,###,##0.00")
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-footer bg-transparent border-warning font-weight-bold text-uppercase text-gray-800">Não foram encontrados Totalizadores para a Competência e Colaborador.</div>
                    }
                </div>
            </div>
        </div>

        <!-- Collapsable Card Example TOTAL LÍQUIDO -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-success shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardLiquido" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardLiquido">
                    <h6 class="m-0 font-weight-bold text-success text-uppercase mb-1">Total Líquido</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardLiquido">
                    <div class="card-header bg-transparent border-success font-weight-bold text-gray-800">R$ @Model.TotalLiquido.ToString("#,###,###,##0.00")</div>
                    <div class="card-body text-success">
                        <strong>R$ @Model.TotalVencimentos.ToString("#,###,###,##0.00") - R$ @Model.TotalDescontos.ToString("#,###,###,##0.00")</strong> = R$ @Model.TotalLiquido.ToString("#,###,###,##0.00")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        <a class="btn btn-secondary btn-icon-split" asp-action="Index">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Voltar</span>
        </a>
    </div>
</div>