@model ARVTech.DataAccess.DTOs.UniPayCheck.MatriculaDemonstrativoPagamentoResponse

@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-1 text-gray-800">
    Demonstrativo de Pagamento
</h1>

<div class="row">
    <div class="col-xl-7 col-md-7 mb-4">
        <label for="txtRazaoSocial">Razão Social</label>
        <input asp-for=Matricula.Empregador.RazaoSocial type="text" class="form-control" id="txtRazaoSocial">
    </div>

    <div class="col-xl-3 col-md-3 mb-4">
        <label for="txtCnpj">CNPJ</label>
        <input asp-for=Matricula.Empregador.Cnpj type="text" class="form-control" id="txtCnpj">
    </div>

    <div class="col-xl-2 col-md-2 mb-4">
        <label for="txtCompetencia">Competência</label>
        <input asp-for=CompetenciaFormatada type="text" class="form-control" id="txtCompetencia">
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-md-4 mb-4">
        <label for="txtMatricula">Matrícula</label>
        <input asp-for=Matricula.Matricula type="text" class="form-control" id="txtMatricula">
    </div>

    <div class="col-xl-7 col-md-6 mb-4">
        <label for="txtNome">Nome</label>
        <input asp-for=Matricula.Colaborador.Nome type="text" class="form-control" id="txtNome">
    </div>

    <div class="col-xl-2 col-md-2 mb-4">
        <label for="txtDataAdmissao">Data Admissão</label>
        <input asp-for=Matricula.DataAdmissao type="date" class="form-control" id="txtDataAdmissao">
    </div>
</div>

<div class="row">
    <!-- Collapsable Card Example TOTAL DE VENCIMENTOS -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow mb-4 border-left-primary shadow">

            <!-- Card Header - Accordion -->
            <a href="#collapseCardVencimentos" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardVencimentos">
                <h6 class="m-0 font-weight-bold text-primary text-uppercase mb-1">Total de Vencimentos</h6>
            </a>

            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardVencimentos">
                <div class="card-header bg-transparent border-primary font-weight-bold text-gray-800">R$ @Model.TotalVencimentos.ToString("#,###,###,##0.00")</div>

                @if (Model.MatriculaDemonstrativoPagamentoEventos != null &&
                    Model.MatriculaDemonstrativoPagamentoEventos.Where(
                        e => e.Evento.Tipo == "V").Count() > 0)
                {
                    @foreach (var mdpe in Model.MatriculaDemonstrativoPagamentoEventos.Where(
                        e => e.Evento.Tipo == "V"))
                    {
                        <div class="card-body text-primary">
                            <strong>@mdpe.Evento.Descricao: </strong> R$ @mdpe.Valor.ToString("#,###,###,##0.00")
                        </div>
                    }
                }
                else
                {
                    <div class="card-footer bg-transparent border-primary font-weight-bold text-uppercase text-gray-800">Não foram encontrados Vencimentos para a Competência e Colaborador.</div>
                }
            </div>
        </div>
    </div>

    <!-- Collapsable Card Example TOTAL DE DESCONTOS -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow mb-4 border-left-danger shadow">

            <!-- Card Header - Accordion -->
            <a href="#collapseCardDescontos" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardDescontos">
                <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">Total de Descontos</h6>
            </a>

            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardDescontos">
                <div class="card-header bg-transparent border-danger font-weight-bold text-gray-800">R$ @Model.TotalDescontos.ToString("#,###,###,##0.00")</div>

                @if (Model.MatriculaDemonstrativoPagamentoEventos != null &&
                    Model.MatriculaDemonstrativoPagamentoEventos.Where(
                        e => e.Evento.Tipo == "D").Count() > 0)
                {
                    @foreach (var mdpe in Model.MatriculaDemonstrativoPagamentoEventos.Where(
                        e => e.Evento.Tipo == "D"))
                    {
                        <div class="card-body text-danger">
                            <strong>@mdpe.Evento.Descricao: </strong>R$ @mdpe.Valor.ToString("#,###,###,##0.00")
                        </div>
                    }
                }
                else
                {
                    <div class="card-footer bg-transparent border-danger font-weight-bold text-uppercase text-gray-800">Não foram encontrados Descontos para a Competência e Colaborador.</div>
                }
            </div>
        </div>
    </div>

    <!-- Collapsable Card Example TOTAL LÍQUIDO -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow mb-4 border-left-warning shadow">

            <!-- Card Header - Accordion -->
            <a href="#collapseCardLiquido" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardLiquido">
                <h6 class="m-0 font-weight-bold text-warning text-uppercase mb-1">Total Líquido</h6>
            </a>

            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardLiquido">
                <div class="card-header bg-transparent border-warning font-weight-bold text-gray-800">R$ @Model.TotalLiquido.ToString("#,###,###,##0.00")</div>

                @if (Model.MatriculaDemonstrativoPagamentoTotalizadores != null &&
                    Model.MatriculaDemonstrativoPagamentoTotalizadores.Where(
                        t => t.IdTotalizador != 3 &&
                        t.IdTotalizador != 4 &&
                        t.IdTotalizador != 7).Count() > 0)
                {
                    @foreach (var mdpt in Model.MatriculaDemonstrativoPagamentoTotalizadores.Where(
                        t => t.IdTotalizador != 3 &&
                        t.IdTotalizador != 4 &&
                        t.IdTotalizador != 7))
                    {
                        <div class="card-body text-warning">
                            <strong>@mdpt.Totalizador.Descricao: </strong>R$ @mdpt.Valor.ToString("#,###,###,##0.00")
                        </div>
                    }
                }
                else
                {
                    <div class="card-footer bg-transparent border-warning font-weight-bold text-uppercase text-gray-800">Não foram encontrados Totalizadores para a Competência e Colaborador.</div>
                }
            </div>
        </div>
    </div>

    @*<div class="col-xl-4 col-md-6 mb-4">
    <div class="card shadow mb-4 border-left-danger shadow">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
    role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">Total de Descontos</h6>
    </a>

    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardDescontos">
    <div class="card-body">
    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 88.888,88</div>

    This is a collapsable card example using Bootstrap's built in collapse
    functionality. <strong>Click on the card header</strong> to see the card body
    collapse and expand!
    </div>
    </div>
    </div>
    </div>*@

    <!-- Collapsable Card Example TOTAL LÍQUIDO -->
    @*    <div class="col-xl-4 col-md-6 mb-4">
    <div class="card shadow mb-4 border-left-warning shadow">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
    role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-warning text-uppercase mb-1">Total Líquido</h6>
    </a>

    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardLiquido">
    <div class="card-body">
    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 77.777,77</div>

    This is a collapsable card example using Bootstrap's built in collapse
    functionality. <strong>Click on the card header</strong> to see the card body
    collapse and expand!
    </div>
    </div>
    </div>
    </div>*@
</div>

<div class="row">
    <div class="col-lg-6">

        <!-- Default Card Example -->
        <!-- Basic Card Example -->

    </div>

    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <!-- Collapsable Card Example -->
    </div>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>