@model ARVTech.DataAccess.DTOs.UniPayCheck.MatriculaDemonstrativoPagamentoResponseDto

@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Logout Modal-->
    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Declaração dos valores recebidos</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Você deseja realmente confirmar a declaração dos valores recebidos?</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-success" asp-controller="DemonstrativoPagamento" asp-action="ConfirmarRecebimentoValores" asp-route-id=@Model.Guid>Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modeloClassicoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelModeloClassico"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @*<div class="modal-body">
                    <table class="table" id="tblPrincipal" style="border-width:2px; border-style:solid;">
                        <thead>
                            <tr>
                                <th class="col-12 text-justify" style="border:0px">AQUI VAI O LOGOTIPO</th>
                            </tr>
                            <tr>
                                <th class="col-12 text-justify" style="border:0px">AQUI VAI O LOGOTIPO</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col-12 text-justify" style="border:0px">
                                    <table class="table table-bordered" cellpadding="0" cellspacing="0" style="margin-top:-1.20rem">
                                        <tbody>
                                            <tr>
                                                <td class="col-2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Matrícula</small><br />@Model.Matricula.Matricula
                                                </td>
                                                <td class="col-8" colspan="2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Nome</small><br />@Model.Matricula.Colaborador.Nome
                                                </td>
                                                <td class="col-2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Competência</small><br />@Model.CompetenciaFormatada
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-6" colspan="2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Horário</small><br /><small>Carga Horária Mensal:</small> @Model.Matricula.CargaHoraria
                                                </td>
                                                <td class="col-6" colspan="2" style="padding: 0.08rem; vertical-align:middle">
                                                    <small style="font-size: 50%">Local</small><br />@Model.Matricula.DescricaoSetor
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-bordered table-striped" style="line-height: 0.80rem; margin-bottom:-0.05rem; margin-top:-0.40rem">
                                        <thead>
                                            <tr>
                                                <th class="col-1 text-center"><small>Data</small></th>
                                                <th class="col-1 text-center"><small>Semana</small></th>
                                                <th class="col-3 text-justify"><small>Marcações</small></th>
                                                <th class="col-1 text-center"><small>Trab.</small></th>
                                                <th class="col-1 text-center"><small>Flts.</small></th>
                                                <th class="col-1 text-center"><small>H050%</small></th>
                                                <th class="col-1 text-center"><small>H070%</small></th>
                                                <th class="col-1 text-center"><small>H100%</small></th>
                                                <th class="col-1 text-center"><small>CrBH.</small></th>
                                                <th class="col-1 text-center"><small>DbBH.</small></th>
                                            </tr>
                                        </thead>

                                        @if (Model.MatriculaEspelhoPontoMarcacoes != null &&
                                        Model.MatriculaEspelhoPontoMarcacoes.Count() > 0)
                                        {
                                            <tbody>
                                                @foreach (var data in datas)
                                                {
                                                    var item = Model.MatriculaEspelhoPontoMarcacoes.Where(
                                                    d => d.Data == data.Key).FirstOrDefault();

                                                    if (item != null)
                                                    {
                                                        <tr>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.Data.ToString("ddMMyyyy").Substring(0,2)</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.DiaSemana.Substring(0,3)</small>
                                                            </td>
                                                            <td class="text-justify" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.Marcacao</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasTrabalhadasString</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasFaltasString</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasExtras050String</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasExtras070String</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasExtras100String</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasCreditoBHString</small>
                                                            </td>
                                                            <td class="text-center" style="padding: 0.06rem; vertical-align:middle">
                                                                <small style="font-size: 75%">@item.HorasDebitoBHString</small>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                            <tfoot>
                                            </tfoot>
                                        }
                                    </table>

                                    <div class="row">
                                        <div class="col-xl-4 col-md-4 col-xs-12">
                                            <table class="table table-bordered" style="line-height: 0.40rem; margin-bottom:-0.05rem;">
                                                <tbody>
                                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                                    Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                                    {
                                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                                        c.Calculo.Id < 6).OrderBy(
                                                        c => c.Calculo.Id).GroupBy(
                                                        m => m.Calculo.Id);

                                                        @foreach (var calculo in calculos)
                                                        {
                                                            <tr>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Calculo.Descricao</small>
                                                                </td>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Valor.ToString("#,###,###,##0.00")</small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-xl-4 col-md-4 col-xs-12">
                                            <table class="table table-bordered" style="line-height: 0.40rem; margin-bottom:-0.05rem;">
                                                <tbody>
                                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                                    Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                                    {
                                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                                        c.Calculo.Id >= 6 && c.Calculo.Id < 11).OrderBy(
                                                        c => c.Calculo.Id).GroupBy(
                                                        m => m.Calculo.Id);

                                                        @foreach (var calculo in calculos)
                                                        {
                                                            <tr>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Calculo.Descricao</small>
                                                                </td>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Valor.ToString("#,###,###,##0.00")</small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-xl-4 col-md-4 col-xs-12">
                                            <table class="table table-bordered" style="line-height: 0.40rem; margin-bottom:-0.05rem;">
                                                <tbody>
                                                    @if (Model.MatriculaEspelhoPontoCalculos != null &&
                                                    Model.MatriculaEspelhoPontoCalculos.Count() > 0)
                                                    {
                                                        var calculos = Model.MatriculaEspelhoPontoCalculos.Where(c =>
                                                        c.Calculo.Id >= 11).OrderBy(
                                                        c => c.Calculo.Id).GroupBy(
                                                        m => m.Calculo.Id);

                                                        @foreach (var calculo in calculos)
                                                        {
                                                            <tr>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Calculo.Descricao</small>
                                                                </td>
                                                                <td class="col-9 text-right" style="border: 0px; vertical-align:middle;">
                                                                    <small style="font-size: 60%">@calculo.First().Valor.ToString("#,###,###,##0.00")</small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>*@

                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    @*<a class="btn btn-success" asp-controller="EspelhoPonto" asp-action="ConfirmarRealizacaoFrequencia" asp-route-guid=@Model.Guid>Confirmar</a>*@
                    <a class="btn btn-primary">
                        <i class="fas fa-print fa-sm text-white-50"></i> Imprimir
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading -->
    <div class="row d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-sm-8 col-6">
            <h1 class="h3 mb-0 text-gray-800">Demonstrativo de Pagamento</h1>
        </div>
        <div class="col-sm-4 col-6 text-right">
            <a class="btn btn-secondary btn-icon-split pull-right" asp-action="Index">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Voltar</span>
            </a>

            <button id="btnSalvar" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#modeloClassicoModal">
                <span class="icon text-white">
                    <i class="fas fa-print fa-sm text-white-50"></i>
                </span>
                <span class="text"> Modelo Clássico</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-7 col-md-7 mb-4">
            <label for="txtRazaoSocial">Razão Social</label>
            <input asp-for=Matricula.Empregador.RazaoSocial type="text" readonly class="form-control" id="txtRazaoSocial">
        </div>

        <div class="col-xl-3 col-md-3 mb-4">
            <label for="txtCnpj">CNPJ</label>
            <input asp-for=Matricula.Empregador.CnpjFormatado type="text" readonly class="form-control" id="txtCnpj">
        </div>

        <div class="col-xl-2 col-md-2 mb-4">
            <label for="txtCompetencia">Competência</label>
            <input asp-for=CompetenciaFormatada type="text" readonly class="form-control" id="txtCompetencia">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-4 mb-4">
            <label for="txtMatricula">Matrícula</label>
            <input asp-for=Matricula.Matricula type="text" readonly class="form-control" id="txtMatricula">
        </div>

        <div class="col-xl-7 col-md-6 mb-4">
            <label for="txtNome">Nome</label>
            <input asp-for=Matricula.Colaborador.Nome type="text" readonly class="form-control" id="txtNome">
        </div>

        <div class="col-xl-2 col-md-2 mb-4">
            <label for="txtDataAdmissao">Data Admissão</label>
            <input asp-for=Matricula.DataAdmissao type="date" readonly class="form-control" id="txtDataAdmissao">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-md-2 mb-2">
            <label for="txtBanco">Banco</label>
            <input asp-for=Matricula.Banco type="text" readonly class="form-control" id="txtBanco">
        </div>
        <div class="col-xl-2 col-md-2 mb-2">
            <label for="txtAgencia">Agência</label>
            <input asp-for=Matricula.Agencia type="text" readonly class="form-control" id="txtAgencia">
        </div>
        <div class="col-xl-3 col-md-3 mb-3">
            <label for="txtConta">Conta</label>
            <input asp-for=Matricula.Conta type="text" readonly class="form-control" id="txtConta">
        </div>
        <div class="col-xl-3 col-md-3 mb-3">
            <label for="txtSalarioNominal">Salário Nominal</label>
            <input asp-for=Matricula.SalarioNominalFormatado type="text" readonly class="form-control" id="txtSalarioNominal">
        </div>
        <div class="col-xl-1 col-md-1 mb-1">
            <label for="txtFaixaIr">IR</label>
            <input asp-for=Matricula.FaixaIr type="text" readonly class="form-control" id="txtFaixaIr">
        </div>

        <div class="col-xl-1 col-md-1 mb-1">
            <label for="txtFaixaSf">SF</label>
            <input asp-for=Matricula.FaixaSf type="text" readonly class="form-control" id="txtFaixaSf">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12 mb-12">
            <label for="txtCargo">Cargo</label>
            <input asp-for=Matricula.DescricaoCargo type="text" readonly class="form-control" id="txtCargo">
        </div>
    </div>

    <div class="row mb-3">
    </div>

    <div class="row">
        <!-- Collapsable Card Example TOTAL DE VENCIMENTOS -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-primary shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardVencimentos" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardVencimentos">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase mb-1">Total de Vencimentos</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardVencimentos">
                    <div class="card-header bg-transparent border-primary font-weight-bold text-gray-800">R$ @Model.TotalVencimentos.ToString("#,###,###,##0.00")</div>

                    @if (Model.MatriculaDemonstrativoPagamentoEventos != null &&
                        Model.MatriculaDemonstrativoPagamentoEventos.Where(
                            e => e.Evento.Tipo == "V").Count() > 0)
                    {
                        @foreach (var mdpe in Model.MatriculaDemonstrativoPagamentoEventos.Where(
                            e => e.Evento.Tipo == "V").OrderBy(
                                mdpe => mdpe.IdEvento))
                        {
                            <div class="card-body">
                                <p class="text-primary">
                                    <strong>@mdpe.Evento.Descricao:</strong> R$ @mdpe.ValorFormatado
                                </p>

                                @if (mdpe.Referencia is not null)
                                {
                                    <p class="text-primary">
                                        <small class="text-muted">(Referência: @Convert.ToDecimal(mdpe.Referencia).ToString("#,###,###,##0.00"))</small>
                                    </p>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-footer bg-transparent border-primary font-weight-bold text-uppercase text-gray-800">Não foram encontrados Vencimentos para a Competência e Colaborador.</div>
                    }
                </div>
            </div>
        </div>

        <!-- Collapsable Card Example TOTAL DE DESCONTOS -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-danger shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardDescontos" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardDescontos">
                    <h6 class="m-0 font-weight-bold text-danger text-uppercase mb-1">Total de Descontos</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardDescontos">
                    <div class="card-header bg-transparent border-danger font-weight-bold text-gray-800">R$ @Model.TotalDescontos.ToString("#,###,###,##0.00")</div>

                    @if (Model.MatriculaDemonstrativoPagamentoEventos != null &&
                    Model.MatriculaDemonstrativoPagamentoEventos.Where(
                    e => e.Evento.Tipo == "D").Count() > 0)
                    {
                        @foreach (var mdpe in Model.MatriculaDemonstrativoPagamentoEventos.Where(
                       e => e.Evento.Tipo == "D").OrderBy(
                       mdpe => mdpe.IdEvento))
                        {
                            <div class="card-body">
                                <p class="text-danger">
                                    <strong>@mdpe.Evento.Descricao:</strong> R$ @mdpe.ValorFormatado
                                </p>

                                @if (mdpe.Referencia is not null)
                                {
                                    <p class="text-danger">
                                        <small class="text-muted">(Referência: @Convert.ToDecimal(mdpe.Referencia).ToString("#,###,###,##0.00"))</small>
                                    </p>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-footer bg-transparent border-danger font-weight-bold text-uppercase text-gray-800">Não foram encontrados Descontos para a Competência e Colaborador.</div>
                    }
                </div>
            </div>
        </div>

        <!-- Collapsable Card Example OUTROS TOTAIS -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-warning shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardOutros" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardOutros">
                    <h6 class="m-0 font-weight-bold text-warning text-uppercase mb-1">Contribuições Sociais</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardOutros">
                    @if (Model.MatriculaDemonstrativoPagamentoTotalizadores != null &&
                    Model.MatriculaDemonstrativoPagamentoTotalizadores.Where(
                    t => t.IdTotalizador != 3 &&
                    t.IdTotalizador != 4 &&
                    t.IdTotalizador != 7).Count() > 0)  // Deve ignorar nesse Card o Total de Vencimentos (3), Total de Descontos (4) e Total Líquido (7) que são mostrados no Card de Totais Liquidos.
                    {
                        @foreach (var mdpt in Model.MatriculaDemonstrativoPagamentoTotalizadores.Where(
                       t => t.IdTotalizador != 3 &&
                       t.IdTotalizador != 4 &&
                       t.IdTotalizador != 7).OrderBy(
                       mdpt => mdpt.IdTotalizador))
                        {
                            <div class="card-body text-warning">
                                <strong>@mdpt.Totalizador.Descricao:</strong> R$ @mdpt.Valor.ToString("#,###,###,##0.00")
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-footer bg-transparent border-warning font-weight-bold text-uppercase text-gray-800">Não foram encontrados Totalizadores para a Competência e Colaborador.</div>
                    }
                </div>
            </div>
        </div>

        <!-- Collapsable Card Example TOTAL LÍQUIDO -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4 border-left-success shadow">

                <!-- Card Header - Accordion -->
                <a href="#collapseCardLiquido" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardLiquido">
                    <h6 class="m-0 font-weight-bold text-success text-uppercase mb-1">Total Líquido</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardLiquido">
                    <div class="card-header bg-transparent border-success font-weight-bold text-gray-800">R$ @Model.TotalLiquido.ToString("#,###,###,##0.00")</div>
                    <div class="card-body text-success">
                        <strong>R$ @Model.TotalVencimentos.ToString("#,###,###,##0.00") - R$ @Model.TotalDescontos.ToString("#,###,###,##0.00")</strong> = R$ @Model.TotalLiquido.ToString("#,###,###,##0.00")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-12 mb-12">
            @if (Model.DataConfirmacao != null &&
                Model.DataConfirmacao.HasValue)
            {
                string textAlert = string.Concat(
                    "Demonstrativo de Pagamento aceito em ",
                    Model.DataConfirmacaoFormatada);

                if (!string.IsNullOrEmpty(@Model.IpConfirmacaoString))
                {
                    textAlert = string.Concat(
                        textAlert,
                        " através do IP ",
                        @Model.IpConfirmacaoString);
                }

                textAlert = string.Concat(
                    textAlert,
                    ".");

                <div class="alert alert-success text-center">
                    @textAlert
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center">
                    <a class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#confirmacaoModal">
                        @*<i class="fa fa-camera-retro fa-sm fa-fw mr-2 text-gray-400"></i>https://fontawesome.com/v4/icon/calendar-check-o *@
                        <i class="fa fa-calendar-check mr-2" aria-hidden="true"></i>
                        Declaro ter recebido a quantia informada acima e o Demonstrativo de Pagamento Mensal.
                    </a>
                </div>
            }
        </div>
    </div>
</div>