@model PessoaFisicaModel

@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Logout Modal-->
    <!-- Page Heading -->
    <div class="row d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-sm-8 col-6">
            <h1 class="h3 mb-0 text-gray-800">Colaborador</h1>
        </div>
        <div class="col-sm-4 col-6 text-right">
            <a class="btn btn-secondary btn-icon-split pull-right" asp-action="Index">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Voltar</span>
            </a>
        </div>
    </div>

    <div class="row">
        @Html.HiddenFor(model => model.Guid)
        @Html.HiddenFor(model => model.GuidPessoa)

        <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
                <label class="control-label" for="txtCpf">
                    @Html.DisplayNameFor(model => model.Cpf)
                </label>

                @Html.TextBoxFor(Model => Model.Cpf, "", new { @class = "form-control", @id = "txtCpf", @maxlength = "14", @placeholder = "XXX.XXX.XXX-XX", @readonly = true })
            </div>
        </div>

        <div class="col-xl-6 col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
                <label class="control-label" for="txtNome">
                    @Html.DisplayNameFor(model => model.Nome)
                </label>

                @Html.TextBoxFor(Model => Model.Nome, new { @class = "form-control", @id = "txtNome", @maxlength = "100", @readonly = true, @type = "text" })
            </div>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
                <label class="control-label" for="txtDataNascimento">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </label>

                @Html.TextBoxFor(Model => Model.DataNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "txtDataNascimento", @maxlength = "10", @placeholder = "XX/XX/XXXX", @readonly = true })
            </div>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
                <label class="control-label" for="txtRg">
                    @Html.DisplayNameFor(model => model.Rg)
                </label>

                @Html.TextBoxFor(Model => Model.Rg, "", new { @class = "form-control", @id = "txtRg", @maxlength = "20", @readonly = true })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label" for="txtCep">
                    @Html.DisplayNameFor(model => model.Cep)
                </label>

                @Html.TextBoxFor(Model => Model.Cep, "", new { @class = "form-control", @id = "txtCep", @maxlength = "9", @readonly = true, @type = "text" })
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label" for="txtEndereco">
                    @Html.DisplayNameFor(model => model.Endereco)
                </label>
                @Html.TextBoxFor(Model => Model.Endereco, "", new { @class = "form-control", @id = "txtEndereco", @maxlength = "100", @readonly = true, @type = "text" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label" for="txtNumero">
                    @Html.DisplayNameFor(model => model.Numero)
                </label>
                @Html.TextBoxFor(Model => Model.Numero, "", new { @class = "form-control", @id = "txtNumero", @maxlength = "10", @readonly = true, @type = "text" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="txtComplemento">
                    @Html.DisplayNameFor(model => model.Complemento)
                </label>
                @Html.TextBoxFor(Model => Model.Complemento, "", new { @class = "form-control", @id = "txtComplemento", @maxlength = "30", @readonly = true, @type = "text" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label" for="txtBairro">
                    @Html.DisplayNameFor(model => model.Bairro)
                </label>
                @Html.TextBoxFor(Model => Model.Bairro, "", new { @class = "form-control", @id = "txtBairro", @maxlength = "40", @readonly = true, @type = "text" })
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label" for="txtCidade">
                    @Html.DisplayNameFor(model => model.Cidade)
                </label>
                @Html.TextBoxFor(Model => Model.Cidade, "", new { @class = "form-control", @id = "txtCidade", @maxlength = "60", @readonly = true, @type = "text" })
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label" for="txtUf">
                    @Html.DisplayNameFor(model => model.Uf)
                </label>
                @Html.TextBoxFor(Model => Model.Uf, "", new { @class = "form-control", @id = "txtUf", @maxlength = "2", @readonly = true, @type = "text" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="txtEmail">
                    @Html.DisplayNameFor(model => model.Email)
                </label>
                @Html.TextBoxFor(Model => Model.Email, "", new { @class = "form-control", @id = "txtEmail", @maxlength = "75", @readonly = true, @type = "email" })
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="txtTelefone">
                    @Html.DisplayNameFor(model => model.Telefone)
                </label>
                @Html.TextBoxFor(Model => Model.Telefone, "", new { @class = "form-control", @id = "txtTelefone", @maxlength = "30", @readonly = true, @type = "text" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-1 col-xs-1">
            <div class="form-group">
                <label class="control-label" for="txtNumeroCtps">
                    @Html.DisplayNameFor(model => model.NumeroCtps)
                </label>
                @Html.TextBoxFor(Model => Model.NumeroCtps, "", new { @class = "form-control", @id = "txtNumeroCtps", @maxlength = "9", @readonly = true, @type = "text" })
            </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-1 col-xs-1">
            <div class="form-group">
                <label class="control-label" for="txtSerieCtps">
                    @Html.DisplayNameFor(model => model.SerieCtps)
                </label>
                @Html.TextBoxFor(Model => Model.SerieCtps, "", new { @class = "form-control", @id = "txtSerieCtps", @maxlength = "4", @readonly = true, @type = "text" })
            </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-1 col-xs-1">
            <div class="form-group">
                <label class="control-label" for="txtUfCtps">
                    @Html.DisplayNameFor(model => model.UfCtps)
                </label>
                @Html.TextBoxFor(Model => Model.UfCtps, "", new { @class = "form-control", @id = "txtUfCtps", @maxlength = "2", @readonly = true, @type = "text" })
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtCep').mask('00000-000');

            $('#txtCnpj').mask('000.000.000-00');

            $('#txtDataascimento').mask('00/00/0000');
        });
    </script>
}