@model PessoaFisicaViewModel

@{
    ViewData["Title"] = "Edit";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Logout Modal-->
    <!-- Page Heading -->
    <!-- Page Heading aria-hidden="true" -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Colaborador</h1>
    </div>

    @using (Html.BeginForm("Edit", "Colaborador", FormMethod.Post, new { @class = "user" }))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.AntiForgeryToken()

        <div class="row">
            @*            <div class="col-xl-12 col-sm-12 col-md-12">
        <div class="form-group">
        <label class="control-label" for="txtGuid">
        @Html.DisplayNameFor(model => model.Guid)
        </label>

        @Html.TextBoxFor(Model => Model.Guid, new { @class = "form-control", @id="txtGuid", @maxlength="100", @required = "required", @type = "text" } )
        </div>
        </div>*@

            @Html.HiddenFor(model => model.Guid)
            @Html.HiddenFor(model => model.GuidPessoa)

            <div class="col-xl-7 col-sm-4 col-md-7">
                <div class="form-group">
                    <label class="control-label" for="txtNome">
                        @Html.DisplayNameFor(model => model.Nome)
                    </label>

                    @Html.TextBoxFor(Model => Model.Nome, new { @class = "form-control", @id="txtNome", @maxlength="100", @required = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                    @*                    <span asp-validation-for="Nome" class="text-danger"></span>*@
                </div>
            </div>

            <div class="col-xl-3 col-sm-4 col-md-3">
                <div class="form-group">
                    <label class="control-label" for="txtCpf">
                        @Html.DisplayNameFor(model => model.Cpf)
                    </label>

                    @Html.TextBoxFor(Model => Model.Cpf, "", new { @class = "form-control", @id="txtCpf", @maxlength = "14", @placeholder = "XXX.XXX.XXX-XX", @required = "required" } )
                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xl-2 col-sm-4 col-md-2">
                <div class="form-group">
                    <label class="control-label" for="txtDataNascimento">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </label>

                    @Html.TextBoxFor(Model => Model.DataNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "txtDataNascimento", @maxlength = "10", @required = "required" })
                    @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="txtCep">
                        @Html.DisplayNameFor(model => model.Cep)
                    </label>

                    @Html.TextBoxFor(Model => Model.Cep, "", new { @class="form-control", @id = "txtCep", @maxlength = "9", @type = "text" } )
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="txtEndereco">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </label>
                    @Html.TextBoxFor(Model => Model.Endereco, "", new { @class="form-control", @id="txtEndereco", @maxlenght="100", @required  = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="txtNumero">
                        @Html.DisplayNameFor(model => model.Numero)
                    </label>
                    @Html.TextBoxFor(Model => Model.Numero, "", new { @class="form-control", @id="txtNumero", @maxlenght="10", @type = "text" } )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="txtComplemento">
                        @Html.DisplayNameFor(model => model.Complemento)
                    </label>
                    @Html.TextBoxFor(Model => Model.Complemento, "", new { @class="form-control", @id="txtComplemento", @maxlenght="30", @type = "text" } )
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="txtBairro">
                        @Html.DisplayNameFor(model => model.Bairro)
                    </label>
                    @Html.TextBoxFor(Model => Model.Bairro, "", new { @class="form-control", @id="txtBairro", @maxlenght = "40", @type = "text" } )
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="txtCidade">
                        @Html.DisplayNameFor(model => model.Cidade)
                    </label>
                    @Html.TextBoxFor(Model => Model.Cidade, "", new { @class="form-control", @id="txtCidade", @maxlenght="60", @required = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="txtUf">
                        @Html.DisplayNameFor(model => model.Uf)
                    </label>
                    @Html.TextBoxFor(Model => Model.Uf, "", new { @class="form-control", @id="txtUf", @maxlenght="2", @required = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="txtEmail">
                        @Html.DisplayNameFor(model => model.Email)
                    </label>
                    @Html.TextBoxFor(Model => Model.Email, "", new { @class="form-control", @id="txtEmail", @maxlenght="75", @type = "email" } )
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="txtTelefone">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </label>
                    @Html.TextBoxFor(Model => Model.Telefone, "", new { @class="form-control", @id="txtTelefone", @maxlenght="30", @type = "text" } )
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="txtNumeroCtps">
                        @Html.DisplayNameFor(model => model.NumeroCtps)
                    </label>
                    @Html.TextBoxFor(Model => Model.NumeroCtps, "", new { @class="form-control", @id="txtNumeroCtps", @maxlenght="7", @required = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.NumeroCtps, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="txtSerieCtps">
                        @Html.DisplayNameFor(model => model.SerieCtps)
                    </label>
                    @Html.TextBoxFor(Model => Model.SerieCtps, "", new { @class="form-control", @id="txtSerieCtps", @maxlenght="4", @required = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.SerieCtps, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="txtUfCtps">
                        @Html.DisplayNameFor(model => model.UfCtps)
                    </label>
                    @Html.TextBoxFor(Model => Model.UfCtps, "", new { @class="form-control", @id="txtUfCtps", @maxlenght="2", @required = "required", @type = "text" } )
                    @Html.ValidationMessageFor(model => model.UfCtps, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <a class="btn btn-secondary btn-icon-split" asp-action="Index">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Voltar</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                <button id="btnSalvar" type="submit" class="btn btn-primary btn-icon-split pull-right">
                    <span class="icon text-white">
                        <i class="fas fa-save"></i>
                    </span>
                    <span class="text">Salvar</span>
                </button>
            </div>
        </div>
    }
</div>

@*https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html*@
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtCep').mask('00000-000');

            $('#txtCpf').mask('000.000.000-00');

            $('#txtDataNascimento').mask('00/00/0000');

            //$('#txtCep').mask('00000-000',
            //    {
            //        reverse: true
            //    });

            //$('#txtCpf').mask('000.000.000-00',
            //    {
            //        reverse: true
            //    });

            //$('#txtDataNascimento').mask('00/00/0000',
            //    {
            //        reverse: true
            //    });
        });
    </script>
}