@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-8 col-md-10">
                    <h5 class="m-0 font-weight-bold text-success"><span>Colaboradores</span></h5>
                </div>
                <div class="col-sm-4 col-md-2 text-right">
                    <a href="@Url.Action("Edit", "Colaborador")" class="d-none d-sm-inline-block btn btn-sm btn-success btn-icon-split shadow-sm">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i> Novo Colaborador
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dt-responsive nowrap" id="tblColaboradores" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Guid
                            </th>
                            <th align="center">
                                CPF
                            </th>
                            <th align="center">
                                Nascimento
                            </th>
                            <th>
                                Nome
                            </th>
                            <th align="center">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody></tbody>
                    @* <tbody>
                    @if (Model != null)
                    {
                    @foreach (var item in Model)
                    {
                    <tr>
                    <td class="hidden-xs hidden-sm">
                    @Convert.ToInt64(
                    item.Cpf).ToString(
                    @"000\.000\.000\-00")
                    </td>
                    <td class="hidden-xs hidden-sm hidden-md" align="center">
                    @(item.DataNascimento.HasValue ?
                    item.DataNascimento.Value.ToString("dd/MM/yyyy") :
                    "__/__/____")
                    </td>
                    <td>
                    @item.Nome
                    </td>
                    <td align="center">
                    <span>
                    <a href="@Url.Action("Edit", "Colaborador", new { guid = item.Guid })" class="btn btn-primary btn-xs">
                    <i class="fas fa-fw fa-pencil-alt"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Colaborador", new { guid = item.Guid })" class="btn btn-danger btn-xs">
                    <i class="fas fa-fw fa-trash-alt"></i>
                    </a>
                    </span>
                    </td>
                    </tr>
                    }
                    }
                    else
                    {
                    <tr>
                    <td colspan="4" class="text-center">
                    Nenhum registro encontrado.
                    </td>
                    </tr>
                    }
                    </tbody> *@
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <!-- Custom styles for this page -->
    <link href="~/theme/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/datatables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <!-- Page level plugins -->

    <script src="~/theme/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.datatables.min.js"></script>
    <script src="~/theme/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/datatables.bootstrap4.min.js"></script>

    <script src="~/theme/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('#tblColaboradores').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json"
                },
                "lengthMenu": [10, 25, 50, 100],
                "orderMulti": false,
                "pageLength": 10,
                "paging": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Colaborador/GetDataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "guid", "title": "Guid" },
                    { "data": "cpf", "name": "Cpf", "title": "CPF" },
                    { "data": "dataNascimento", "name": "DataNascimento", "title": "Nascimento" },
                    {
                        "data": "nome", "name": "Nome", "title": "Nome",
                        "render": function (data, type, row) {
                            return '<a href="/Colaborador/Edit/' + row.guid + '">' + data + '</a>';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="/Colaborador/Details/' + row.guid + '" class="btn btn-warning btn-xs"><i class="fas fa-fw fa-file-alt"></i></a> <a href="/Colaborador/Edit/' + row.guid + '" class="btn btn-primary btn-xs"><i class="fas fa-fw fa-pencil-alt"></i></a> <a href="" class="btn btn-danger btn-xs"><i class="fas fa-fw fa-trash-alt"></i></a>';
                        }
                    }
                ],
                "columnDefs": [
                    { "className": "dt-center", "targets": [1, 2, 4] },

                    { "targets": [1, 2, 3], orderable: true, searchable: true },
                    { "targets": [1, 2, 3, 4], visible: true },

                    { "width": "12%", "targets": 1 },
                    { "width": "9%", "targets": 2 },
                    { "width": "16%", "targets": 4 },

                    { "targets": '_all', orderable: false, searchable: false, visible: false }
                ],
                "responsive": true
            });
        });
    </script>
}