@model ActivateViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Link de Ativação</title>

    <!-- Custom fonts for this template-->
    <link href="~/Theme/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Theme/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
</head>

<body class="bg-gradient-success">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <div class="progress" id="divProgress" style="display: none;">
                            <div class="progress-bar progress-bar-info progress-bar-striped" id="divProgressBar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Enviando...
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="alert alert-danger alert-dismissible" style="display: none;"></div>
                                    <div class="alert alert-success alert-dismissible" style="display: none;"></div>
                                    <div class="alert alert-warning alert-dismissible" style="display: none;"></div>
                                    <div class="text-center" style="display: none;"></div>

                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                            <strong>Erro</strong>
                                            @ViewBag.ErrorMessage
                                        </div>
                                    }
                                    else if (ViewBag.SuccessMessage != null)
                                    {
                                        <div class="alert alert-success alert-dismissible" id="alertSuccess">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

                                            <h4>
                                                <i class="icon fa fa-check"></i>
                                                <strong>Sucesso</strong>
                                            </h4>

                                            @Html.Raw(@ViewBag.SuccessMessage)

                                            <p>
                                                <small class="text-success">
                                                    Se o redirecionamento não funcionar, clique <a href="@Url.Action("Login", "Access")" class="text-success"><strong>aqui</strong></a>.
                                                </small>
                                            </p>
                                        </div>

                                    }
                                    else if (ViewBag.ValidateMessage != null)
                                    {
                                        <div class="alert alert-warning alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                            <strong>Validação</strong>
                                            @ViewBag.ValidateMessage
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-center" id="divTexto">
                                            <h1 class="h4 text-gray-900 mb-2">Ative sua Conta de Usuário.</h1>
                                            <p style="text-align:justify" class="mb-4">

                                                Olá @ViewBag.NomeColaborador.

                                                Para que o processo de ativação seja efetivado, é necessário enviar um link para o endereço de e-mail salvo em seu
                                                cadastro e que está exibido abaixo. Através deste e-mail, será enviado o link de redirecionamento que vai possibilitar
                                                redefinir a sua senha.
                                            </p>
                                        </div>
                                    }

                                    <form class="user" asp-action="LinkActivation" asp-controller="Access" method="post">
                                        <div class="text-center" id="divEmail">
                                            <div class="form-group">
                                                <h1 class="h4 text-gray-900 mb-2">
                                                    <label asp-for="Email" class="control-label">@Model.Email</label>
                                                </h1>

                                                <input type="hidden" asp-for="Email" />
                                            </div>
                                        </div>
                                        <button class="btn btn-success btn-user btn-block" id="btnEnviarLink" type="submit">
                                            Enviar Link
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>*@

<!-- Bootstrap core JavaScript-->
<script src="~/Theme/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="~/Theme/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Theme/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Theme/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

</html>

<script type="text/javascript">
    $(document).ready(function () {
        //  Controle para redirecionar a página se o ViewBag de Mensagem de Sucesso estiver preenchido.
        var msg = '@ViewBag.SuccessMessage';

        if (msg !== '') {
            $("#btnEnviarLink").hide();
            $('#divEmail').hide();
            $('#divTexto').hide();

            $("#divProgressBar").removeClass("progress-bar-animated");
            $("#divProgress").hide();

            setTimeout(function () {
                window.location.replace(
                    '@Url.Action(
                        "Login",
                        "Access")')
            }, 4000);
        }

        $("#btnEnviarLink").on("click", function () {
            $("#btnEnviarLink").hide();
            $("#divEmail").hide();
            $("#divTexto").hide();

            $("#divProgressBar").addClass("progress-bar-animated");
            $("#divProgress").show();
        });
    });
</script>